{% extends 'base.html' %}

{% block main %}
<div id="content">
			 <!-- 轮播动画 -->
			 <div class="con_banner">
			 <div id="playBox" class="play-box">
			 <!--图片列表-->
			 <div id="imgList">
			 <img class="current" src="./img/carousel/t1.jpg" />
			 <img src="./img/carousel/t2.jpg" />
			 <img src="./img/carousel/t3.jpg" />
			 <img src="./img/carousel/t4.jpg" />
			 <img src="./img/carousel/t5.jpg" />
			 </div>
			 <!--图标列表-->
			 <div class="iconList">
			 <ul id="iconul">
			 <li class="current current2">1</li>
			 <li class="current2">2</li>
			 <li class="current2">3</li>
			 <li class="current2">4</li>
			 <li class="current2">5</li>
			 </ul>
			 </div>
			 <!--左箭头-->
			 <div class="sliderbar slidebar-left" id="sliderbarl">&lt;</div>
			 <!--右箭头-->
			 <div class="sliderbar slidebar-right" id="sliderbarr">&gt;</div>
			 </div>
			 </div>
			 </div>


<div class=" middiv">
				<div class="remen">
				<p class="title">
				<img src="./img/爱心.png" />
				<span class="t-span">
				我喜欢
				</span>
				<span class="con_gengduo">
				<a href="javascript:;">更多>></a>
				</span>
				</p>
				<table>
				<thead>
				<tr>
				<th>歌名</th>
				<th>歌手</th>
				<th>类型</th>
				<th>专辑</th>
				<th>操作</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
				</table>
				</div>
				<div class="remen">
				<p class="title">
				<img src="./img/唱片.png" />
				<span class="t-span">
				热门推荐
				<span class="con_type">
				<a href="#">华语</a> |
				<a href="#">流行</a> |
				<a href="#">摇滚</a> |
				<a href="#">民谣</a>
				</span>
				</span>
				<span class="con_gengduo">
				<a href="javascript:;">更多>></a>
				</span>
				</p>
				<ul class="ul_list">
				<li class="lisong">
				<div>
				<a href="javascript:;">
				<img src="./img/l.jpg" />
				</a>
				</div>
				<a href="javascript:;">London Boy</a>
				</li>
				<li class="lisong">
				<div>
				<a href="javascript:;">
				<img src="./img/hdx.jpg" />
				</a>
				</div>
				<a href="javascript:;">海の形</a>
				</li>
				<li class="lisong">
				<div>
				<a href="javascript:;">
				<img src="./img/xr.jpg" />
				</a>
				</div>
				<a href="javascript:;">形容</a>
				</li>
				<li class="lisong">
				<div>
				<a href="javascript:;">
				<img src="./img/ssngsjzr.jpg" />
				</a>
				</div>
				<a href="javascript:;">杀死那个石家庄人</a>
				</li>
				</ul>
				</div>
				<div class="song_list">
				<p class="title">
				<img src="./img/歌单.png" />
				<span class="t-span">歌单</span>
				<span class="con_gengduo">
				<a href="javascript:;">更多>></a>
				</span>
				</p>
				<ul class="ul_list">
				<li>
				<div>
				<a href="javascript:;">
				<img src="./img/song_list/1.jpg" />
				</a>
				</div>
				<a href="javascript:;">2022全网超好听热门流行歌曲推荐</a>
				</li>
				<li>
				<div>
				<a href="javascript:;">
				<img src="./img/song_list/2.jpg" />
				</a>
				</div>
				<a href="javascript:;">祝有爱者更爱，无爱者自由</a>
				</li>
				<li>
				<div>
				<a href="javascript:;">
				<img src="./img/song_list/3.jpg" />
				</a>
				</div>
				<a href="javascript:;">民谣复兴</a>
				</li>
				<li>
				<div>
				<a href="javascript:;">
				<img src="./img/song_list/4.jpg" />
				</a>
				</div>
				<a href="javascript:;">说唱</a>
				</li>
				<li>
				<div>
				<a href="javascript:;">
				<img src="./img/song_list/5.jpg" />
				</a>
				</div>
				<a href="javascript:;">日语</a>
				</li>
				</ul>
				</div>
				</div>
<div id="head">
	<img src="./img/PlayMusic/up.png" />
	<div id="wrap">
		<audio id="music"></audio>
			<!-- 修改 -->
		<span class="play_left">
			<!-- <img src="./img/PlayMusic/last_1.png" class="t_20" id="up" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" id="up"  class="bi bi-caret-left t_20" viewBox="0 0 16 16">
				<path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
			  </svg>
			<!-- <img src="./img/PlayMusic/play_1.png" class="t_30" id="p1" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="white" id="p1" class="bi bi-pause-circle t_30" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"/>
			  </svg>
			<!-- <img src="./img/PlayMusic/stop_1.png" class="t_30" id="p2" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="white" id="p2" class="bi bi-play-circle t_30" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"/>
			  </svg>
			<!-- <img src="img/PlayMusic/next_1.png" class="t_20" id="down" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="white" id="down" class="bi bi-caret-right t_20" viewBox="0 0 16 16">
				<path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
			  </svg>
		</span>
		<!-- 修改 -->
		<div class="SongInfo">
			<a href="#">
				<img src="./img/唱片.png" class="songImg" id="Imgsong" />
			</a>
			<span class="song">
				<a href="javascript:;" class="songname" id="songname">歌名</a>
			</span>
			<span class="singer">
				<a href="javascript:;" class="singername" id="singername">singer</a>
			</span>
			<div class="jinDuTiao" id="jinDuTiao">
				<div class="YuanDian" id="YuanDian"></div>
				<div class="JinDu">
					<div class="progress" id="progress"></div>
				</div>
			</div>
			<span class="songTime">
				<span class="currentTime" id="currentTime">00:00</span> /
				<span class="totalTime" id="totalTime">00:00</span>
			</span>
		</div>

		<span class="play_right">
			<!-- <img src="./img/PlayMusic/音量_1.png" class="t_10 vol" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white" class="bi bi-volume-up t_10 vol" viewBox="0 0 16 16">
																																		<path d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"/>
																																		<path d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"/>
																																		<path d="M10.025 8a4.486 4.486 0 0 1-1.318 3.182L8 10.475A3.489 3.489 0 0 0 9.025 8c0-.966-.392-1.841-1.025-2.475l.707-.707A4.486 4.486 0 0 1 10.025 8zM7 4a.5.5 0 0 0-.812-.39L3.825 5.5H1.5A.5.5 0 0 0 1 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 7 12V4zM4.312 6.39 6 5.04v5.92L4.312 9.61A.5.5 0 0 0 4 9.5H2v-3h2a.5.5 0 0 0 .312-.11z"/>
																																		</svg>
			<div id="volume">
				<div id="vol-back"></div>
			</div>
			<!-- <img src="./img/PlayMusic/列表循环.png" id="typep1" class="t_10 playOrder p1  " alt="列表循环" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" id="typep1" width="20" height="20" fill="white" alt="列表循环" class="bi bi-arrow-repeat t_10 playOrder p1" viewBox="0 0 16 16">
				<path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
				<path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
			</svg>
			 <!-- <img src="./img/PlayMusic/随机播放_1.png" id="typep2" class="t_10 playOrder p2 notShow" alt="随机播放" /> -->
			 <svg xmlns="http://www.w3.org/2000/svg" id="typep2" width="20" height="20" fill="white" alt="随机播放" class="bi bi-shuffle t_10 playOrder p2 notShow" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"/>
				<path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"/>
			  </svg>
			<!-- <img src="./img/PlayMusic/单曲循环.png" id="typep3" class="t_10 playOrder p3 notShow" alt="单曲循环" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" id="typep3" width="20" height="20" fill="white" alt="单曲循环" class="bi bi-arrow-clockwise t_10 playOrder p3 notShow" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
				<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
			  </svg>
			<img src="./img/PlayMusic/单曲循环.png" id="typep3" class="t_10 playOrder p3 notShow" alt="单曲循环" />
			<div id="SongList">
				<ul>
					<li v-for="(item,index) in $store.state.songmenu" :key="index" @click="play(index)">
					</li>
				</ul>
			</div>
			<!-- <img src="./img/PlayMusic/list_1.png" class="t_10 list" /> -->
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"  class="bi bi-list-ul t_10 list" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
			  </svg>
		</span>
	</div>
</div>

{% endblock %}
