{% extends 'base.html' %}

{% block main %}
<div id="content">
			 <!-- 轮播动画 -->
			 <div class="con_banner">
			 <div id="playBox" class="play-box">
			 <!--图片列表-->
			 <div id="imgList">
			 <img class="current" src="./img/carousel/t1.jpg" />
			 <img src="./img/carousel/t2.jpg" />
			 <img src="./img/carousel/t3.jpg" />
			 <img src="./img/carousel/t4.jpg" />
			 <img src="./img/carousel/t5.jpg" />
			 </div>
			 <!--图标列表-->
			 <div class="iconList">
			 <ul id="iconul">
			 <li class="current current2">1</li>
			 <li class="current2">2</li>
			 <li class="current2">3</li>
			 <li class="current2">4</li>
			 <li class="current2">5</li>
			 </ul>
			 </div>
			 <!--左箭头-->
			 <div class="sliderbar slidebar-left" id="sliderbarl">&lt;</div>
			 <!--右箭头-->
			 <div class="sliderbar slidebar-right" id="sliderbarr">&gt;</div>
			 </div>
			 </div>
			 </div>


<div class=" middiv">
				<div class="remen">
				<p class="title">
				<img src="{{ url_for('static', filename='/img/爱心.png') }}" />
				<span class="t-span">
				我喜欢
				</span>
				<span class="con_gengduo">
				<a href="{{ url_for('user_home', id=user.id) }}">更多>></a>
				</span>
				</p>
				<table>
				<thead>
				<tr>
				<th>歌名</th>
				<th>歌手</th>
				<th>专辑</th>
				</tr>
				</thead>
					{% for i in collection %}
				<tbody>
				<li>
					<td>
						<a href="{{ url_for('song', id=i.get('music_id')) }}">{{ i.get('music_name') }}</a>
					</td>
					<td>
						{{ i.get('musician_name') }}
					</td>
					<td>
						{{ i.get('album') }}
					</td>
				</li>
				</tbody>
					{% endfor %}
				</table>
				</div>
				<div class="remen">
				<p class="title">
				<img src="{{ url_for('static', filename='/img/唱片.png') }}" />
				<span class="t-span">
				热门推荐
				</span>
				<span class="con_gengduo">
							{%  if user != None %}
							<a href="{{ url_for('recommend', id=user.id) }}">更多>></a>
							{% else %}
							<a href="{{ url_for('login') }}">更多>></a>
							{% endif %}
				</span>
				</p>
				<ul class="ul_list">
				{% for i in li %}
				<li class="lisong">
				<div>
				<a href="{{ url_for('song', id=i.id) }}">
				<img src="{{ i.picture }}" />
				</a>
				</div>
				<a href="{{ url_for('song', id=i.id) }}">{{ i.music_name }}
				</a>
				</li>
				{% endfor %}
				</ul>
				</div>
</div>
{% endblock %}
