<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人自序</title>
    <meta name="theme-color" content="#ffc91d"/>
    <link rel="icon" href="./img/favicon.ico" />
    <link href="./css/kico.css" rel="stylesheet" type="text/css"/>
    <link href="./css/paul.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1"/>
</head>
<body>
<aside class="sidebar">
    <div class="avatar">
        <img src="./img/{{ user.id }}.jpg" title="{{user.user_nmae}}"/>
    </div>
    <nav class="nav">
        <a href="{{ url_for('index', user=user) }}">首页</a>
        <a href="#info">资料</a>

    </nav>
</aside>
<main>
    <section id="info">
        <div class="wrap">
            <h2 class="title">个人资料</h2>
            <div class="row">
                <div class="col-l-4">
                    <p>姓名：{{ user.user_name }}</p>
                    <p>个性签名：{{ user.user_signature }}</p>
                    <p>性别：{{user.user_gender}}</p>
                    <div class="navigation-wrapper iUp">
                        <div>
                            <nav class="cover-navigation cover-navigation--primary">
                                <ul class="navigation">
                                    <li class="navigation__item">
                                        <a href="{{ url_for('modify', id=user.id) }}" class="blog-button" >修改信息</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="./js/kico.js"></script>
<script src="./js/paul.js"></script>
<!-- 网易云音乐 -->
<embed frameborder="no" border="0" marginwidth="0" marginheight="0" width=0 height=0 src="//music.163.com/outchain/player?type=0&id=4950890732&auto=1&height=0"></embed>
</body>
</html>