<!DOCTYPE html>
<html>
    
<head>
  <meta charset="utf-8">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=chrome">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HeartClear">
    <title>Lucky Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/vno.css">
<!--    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">-->
<!--    <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">-->
<!--    <link rel="icon" href="../static/img/favicon.ico">-->
</head>

<body>
    <span class="mobile btn-mobile-menu">
        <i class="social iconfont icon-list btn-mobile-menu__icon"></i>
        <i class="social iconfont icon-angleup btn-mobile-close__icon hidden"></i>
    </span>
    <header id="panel" class="panel-cover">
        <div class="panel-main">
            <div class="panel-main__inner panel-inverted">
                <div class="panel-main__content">
                    <div class="ih-item circle effect right_to_left">            
                        <a href="#" title="" class="blog-button">
<!--                            there is a import thing -->
                            <div class="img"><img src="./img/{{user.user_id}}.jpg" alt="img" class="js-avatar iUp profilepic"></div>
                            <div class="info iUp">
                                <div class="info-back">
                                    <h2> 
                                            Lucky
                                    </h2>
                                    <p>
                                            2023 · 幸运
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>

                    
                    <h1 class="panel-cover__title panel-title iUp">
                        <a target="_blank" >{{ user.user_name }}</a>
                    </h1>
                    <p class="panel-cover__subtitle panel-subtitle iUp">Fortune Accompanies Life</p>
                    <hr class="panel-cover__divider iUp" />
                    <p id="description" class="panel-cover__description iUp">如何得与凉风约，不共尘沙一并来!
                        <br/>
                        <strong>-「中牟道中」</strong>
                    </p>
                    <div class="navigation-wrapper iUp">
                        <div>
                            <nav class="cover-navigation cover-navigation--primary">
                                <ul class="navigation">
                                    <li class="navigation__item">
                                        <a href="{{ url_for('index') }}" class="blog-button" >主页</a>
                                    </li>
                                    <li class="navigation__item">
                                        <a href="{{ url_for('user_home', id=user.id) }}" class="blog-button" >自序</a>
                                    </li>
                                    
                                    <li class="navigation__item">
                                        <a href="{{ url_for('user_home', id=user.id) }}" class="blog-button">收藏</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-cover--overlay cover-slate"></div>
        </div>
    </header>
    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/fetch.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
   <!-- 网易云音乐 -->
    <embed frameborder="no" border="0" marginwidth="0" marginheight="0" width=300 height=280 src="//music.163.com/outchain/player?type=0&id=4950890732&auto=1&height=430"></embed>
</body>
</html>