{% extends 'base.html' %}

{% block main %}
<div class=" middiv">
				<div class="remen">
				<p class="title">
				<img src="{{ url_for('static', filename='/img/爱心.png') }}" />
				<span class="t-span">
				结果
				</span>
				</p>
				<table>
				<thead>
				<tr>
				<th>歌名</th>
				<th>歌手</th>
				<th>专辑</th>
				</tr>
				</thead>
					{% for i in musics %}
				<tbody>
				<li>
					<td>
						<a href="{{ url_for('song', id=i.get('music_id')) }}">{{ i.get('music_name') }}</a>
					</td>
					<td>
						{{ i.get('musician_name') }}
					</td>
					<td>
						{{ i.get('album_name') }}
					</td>
				</li>
				</tbody>
					{% endfor %}
				</table>
				</div>
				<div class="remen">
                </div>
</div>


{% endblock %}