<html>
	<head>
		<title>个人信息修改</title>
		<meta charset="uft-8">
	</head>
	<style type="text/css">
		a{text-decoration:none}
		span{
			position: absolute;
			margin-left: -95px;
			margin-top: 4px;
		}
		.text1{
			position: absolute;
			margin-left: -25px;
			margin-top: -25px;
		}
		.head1{
			position:absolute;
			margin-left: 763px;
		}
		.head2{
			position: absolute;
			margin-left: 753px;
			margin-top: 70px;
		}
	</style>
	<body background="../static/img/4444.png"style="margin:0 auto;text-align: center;padding-top: 100px;">
		<form action="POST" style="margin:0 auto;text-align: center;">
			<p>
				信息修改
			</p>
			<p>&emsp13;&emsp13;昵称:<input name="username" placeholder="不超过6个字符" ></p>
			<p>
				<span>个性签名：</span>
				<br>
						<textarea class="text1" name="user_signature">
							个性签名！
						</textarea>
			</p>
			<p>性别：男<input type="radio" name="sex" value="男" checked>
					女<input type="radio" name="sex" value="女" checked>
					保密<input type="radio" name="sex" value="保密" checked></p>

					<p class="head1">
						<span>头像更改:</span>
						<input type="file" name="picture">
					</p>
					<div class="head2">
						<input type="submit" value="保存">
					</div>
			
			<img src="../static/img/logopic.png" style="width:200px;height:200px;position:relative;left:-370px;top:-180px;">
			<div style="position:relative;left:0px;top:0px;background-color:#b01e1e;width:100%;height:200px;">
			<tr>
				<td>
					<table width="1000" align="center">
					</table>
				</td>
			</tr>
			</div>
		</form>
	</body>
</html>