<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        歌曲
    </title>
</head>
</head>

<body>
    <div style="height: 45%;">
        <table style="background-color: rgba(240, 242, 231, 0.678);width: 100%;height: 40%;">
            <tr>
                <td rowspan="6" style="width: 500px;">
                    <img src="1.jpg" style="width: 500px;height: 40%;" />
                </td>
                <td colspan="5">
                    <h1 style="margin: 30px;">0.8×慢情歌：献给同样慢热的你们</h1>
                </td>

            </tr>
            <tr>
                <td>简介：</td>

            </tr>
            <tr style="width: 150px;">
                <td colspan="3" rowspan="3" style="width: 50px;">
                    孤独的人，才会听慢歌 伤心的人，不能听慢歌 不以为然，喜欢听慢歌，因为在歌声里 我能找到最安静的自己，也是最真实的自己
                </td>
            </tr>

        </table>
    </div>
    <div>
        <table style="width: 100%;">
            <tr>
                <td style="width: 33%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;歌曲</td>
                <td>歌手</td>
                <td>专辑</td>
            </tr>
        </table>
    </div>
    <ol>
        <li>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">
                        晴天
                    </td>
                    <td>
                        周杰伦
                    </td>
                    <td>
                        专辑名
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">
                        晴天
                    </td>
                    <td>
                        周杰伦
                    </td>
                    <td>
                        专辑名
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">
                        晴天
                    </td>
                    <td>
                        周杰伦
                    </td>
                    <td>
                        专辑名
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">
                        晴天
                    </td>
                    <td>
                        周杰伦
                    </td>
                    <td>
                        专辑名
                    </td>
                </tr>
            </table>
        </li>
        <li>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 30%;">
                        晴天
                    </td>
                    <td>
                        周杰伦
                    </td>
                    <td>
                        专辑名
                    </td>
                </tr>
            </table>
        </li>
    </ol>
</body>

</html>